<br />
<br />
<br />

<mat-grid-list cols="2" rowHeight="10:1">
  <!-- Section 1 -->
  <mat-grid-tile [rowspan]="4">
    <div class="grid-left-text">
      <h1>Who Am I?:</h1>
      <p class="left">
        Hello! My name is Hudson Pfenning, I'm currently a senior at Wayne State
        College studying Computer Science with a focus in programming and web
        development, on track to graduate with a Bachelor's of Sciences in May
        of 2024.
        <br />
        <br />
        In my spare time, I enjoy playing video games (primarily platformers and
        JRPGs, but I'm open to almost anything) along with listening to music,
        both digitally via Spotify and physically via vinyl records.
      </p>
    </div></mat-grid-tile
  >
  <mat-grid-tile [rowspan]="4"
    ><img src="/assets/hudson1.jpg" class="image-center"
  /></mat-grid-tile>
  <div class="clear"></div>

  <!-- Section 2 -->
  <mat-grid-tile [rowspan]="4"
    ><img src="/assets/hudson2.JPG" class="image-center large-img"
  /></mat-grid-tile>
  <mat-grid-tile [rowspan]="4">
    <div class="grid-right-text">
      <h1>My Story:</h1>
      <p class="right">
        I have had a passion for computers since I was a child, both through
        playing video games and wanting to understand and study technology. Over
        time this interest grew into me joining this industry with the intention
        to create something to make an impact in the world in some way and
        facilitate change.
        <br />
        <br />
        I graduated from high school in 2020 and came to Wayne State College to
        study Computer Science for four years and get my Bachelor's Degree.
        After I graduate, I plan on moving to Lincoln, Nebraska to begin my
        career in web development. Over time, I would like to learn game
        development and eventually join that industry, with the final goal of
        creating my own titles. That's a long ways down the road at this point
        though, so for now I'm focusing on doing great work in web dev.
      </p>
    </div></mat-grid-tile
  >
  <div class="clear"></div>

  <!-- Section 3 -->
  <mat-grid-tile [rowspan]="4"
    ><div class="grid-left-text">
      <h1>Experience and Capabilities:</h1>
      <p class="left">
        My experience and knowledge currently lies mostly in web development,
        with three years in JavaScript/TypeScript and HTML/CSS and two years of
        Java during my time in college. For web development frameworks, I have
        spent time with Angular and React and have enjoyed working with the
        former more than the latter.
      </p>
    </div></mat-grid-tile
  >
  <mat-grid-tile [rowspan]="4"
    ><img src="/assets/hudson3.JPG" class="image-center"
  /></mat-grid-tile>
  <div class="clear"></div>

  <!-- Section 3.5 -->

  <mat-grid-tile [rowspan]="4"
    ><img src="/assets/hudson3.JPG" class="image-center"
  /></mat-grid-tile>

  <mat-grid-tile [rowspan]="4">
    <div class="grid-right-text">
      <h1>Currently Learning:</h1>
      <p class="right">
        Along with my current knowledge, I am also learning C++ and C#, with the
        intention developing video games and desktop applications using those
        languages. I also plan to dabble with Python as a means of broadening my
        horizons to non-OOS languages. I also plan on broadening my horizons
        with other web development frameworks and expanding my knowledge of ones
        I am familiar with, such as React.
      </p>
    </div></mat-grid-tile
  >
  <div class="clear"></div>

  <!-- Section 4 -->
  <mat-grid-tile [rowspan]="4"
    ><img src="/assets/hudson1.jpg" class="image-center"
  /></mat-grid-tile>
  <mat-grid-tile [rowspan]="4"
    ><div class="grid-right-text">
      <h1>Extracurriculars and "Side Quests":</h1>
      <p class="right">
        Including my programming experience, I am also a member of WSC's chapter
        of Upsilon Pi Epsilon and have been a member since the Spring of 2022.
        Within that organization, I have held positions as secretary and head of
        the Social Committee.
        <br />
        <br />
        Separate from my programming experience, I've also been a keyboard
        percussionist since middle school, and have been a consistent member of
        marching bands and prestigious concert bands over the course of high
        school and college. Alongside this, I have also been a member of various
        Esports clubs in high school and college, with managerial/leadership
        roles in both.
      </p>
    </div></mat-grid-tile
  >
  <div class="clear"></div>

  <!-- Section 5 -->
  <mat-grid-tile [rowspan]="4"
    ><div class="grid-left-text">
      <h1>My Strengths and Weaknesses as a Team Member:</h1>
      <p class="right">
        I am a very strategic thinker that can work well both in teams and
        alone, while remaining on task and ensuring my knowledge evolves as I
        work. I am adaptable and focus greatly on analyzing, learning and
        processing new data and ideas as they appear.
        <br />
        <br />
        Competition is not a strong suit of mine though, as I believe too much
        focus on competition over getting the task at hand done usually leads to
        rushed work and poor results more than ambition and energy. I also tend
        to live more in the present than think about the future, although I am
        willing to discuss it when necessary and will go into great detail when
        making and discussing plans for the future.
      </p>
    </div></mat-grid-tile
  >
  <mat-grid-tile [rowspan]="4"
    ><img src="/assets/clifton-strengths.jpg" class="image-center large-img"
  /></mat-grid-tile>
  <div class="clear"></div>
</mat-grid-list>
