<h1 class="header">
  <br />Are <b>YOU</b> interested in having me on your team? Got a project that
  you think I'd be good on? Just want to chat about something?
</h1>
<h2 class="header">
  Feel free to reach out on these platforms or my email! I would love to have a
  conversation with you!
</h2>

<mat-grid-list cols="3">
  <mat-grid-tile
    ><a
      class="twitter-timeline"
      href="https://twitter.com/HuddyP__"
      data-width="400"
      data-height="500"
    >
      Tweets by HuddyP
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <div
      class="badge-base LI-profile-badge"
      data-locale="en_US"
      data-size="large"
      data-theme="dark"
      data-type="HORIZONTAL"
      data-vanity="hudson-pfenning-09471020a"
      data-version="v1"
    >
      <a
        class="badge-base__link LI-simple-link"
        href="https://www.linkedin.com/in/hudson-pfenning-09471020a?trk=profile-badge"
      ></a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div
      class="github-card"
      data-github="HuddyP"
      data-width="400"
      data-height="318"
      data-theme="medium"
    >
      Github
    </div>
  </mat-grid-tile>
</mat-grid-list>

<!-- Text to add once visual style is created:

Are **YOU** interested in having me on your team? Got a project that you think I'd be good on?
Feel free to reach out! I would love to have a conversation with you!

Email: hudsonrp11@gmail.com
LinkedIn: https://www.linkedin.com/in/hudson-pfenning-09471020a/
Twitter/X: https://twitter.com/huddyp__

Look into getting GitHub Card (https://lab.lepture.com/github-cards/#HuddyP|medium) embed working, code here should work but doesn't for unknown reason:
<div
  class="github-card"
  data-github="HuddyP"
  data-width="400"
  data-height="318"
  data-theme="medium"
></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
-->
