<h1 class="header">
  <br />Are <b>YOU</b> interested in having me on your team? Got a project that
  you think I'd be good on? Just want to chat about something?
</h1>
<h2 class="header">
  Feel free to reach out on any of the platforms below. I would love to have a
  conversation with you!
</h2>
<br />
<br />
<br />
<br />
<div>
  <h3>
    <img src="/assets/icons8-twitterx-50.png" class="logos" />
    <a href="https://twitter.com/huddyp__" target="_blank">Twitter</a>
  </h3>
</div>

<div>
  <h3>
    <img src="/assets/icons8-gmail-50.png" class="logos" />
    <a
      href="https://mail.google.com/mail/?view=cm&fs=1&to=hudsonrp11@gmail.com"
      target="_blank"
      >Email</a
    >
  </h3>
</div>

<div>
  <h3>
    <img src="/assets/icons8-linkedin-50.png" class="logos" />
    <a
      href="https://www.linkedin.com/in/hudson-pfenning-09471020a/"
      target="_blank"
      >LinkedIn</a
    >
  </h3>
</div>

<div>
  <h3>
    <img src="/assets/icons8-github-50.png" class="logos" />
    <a href="https://github.com/HuddyP" target="_blank">GitHub</a>
  </h3>
</div>
