<mat-toolbar color="primary" class="navbar">
  <div class="title">Hudson Pfenning</div>
  <div class="subtitle">Web Developer Of The Future</div>
  <nav>
    <a class="page-links" routerLink="/aboutme"><span>Home</span></a>
    <a class="page-links" routerLink="/myprojects"><span>My Projects</span></a>
    <a class="page-links" routerLink="/contactme"><span>Contact Me</span></a>
    <!-- no idea why my auto-formatter did that for the last two navbar entries, doesn't break frontend so it's not an issue-->
  </nav>
</mat-toolbar>
