* {
  margin: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer,
.push {
  height: 142px; /* .push must be the same height as .footer */
}

footer {
  width: 100%;
  height: auto;
  background-color: #3f51b5;
  position: relative;
}

.logos {
  padding-top: 2em;
  padding-left: 1em;
  bottom: 0;
  left: 0;
  max-width: 2.25%;
}

.footer-title {
  padding-top: 1em;
  padding-left: 1em;
  color: white;
  text-decoration: none;
  font-family: Work Sans, serif;
  font-style: italic;
  font-size: 1vw;
}
