<div class="flex-wrapper">
  <footer color="primary" class="footer">
    <div class="footer-title">Find Me On These Platforms!</div>
    <a href="https://github.com/HuddyP" target="_blank">
      <img
        src="/assets/icons8-github-50.png"
        class="logos"
        style="width: 60px; height: 60px"
      />
    </a>
    <a
      href="https://mail.google.com/mail/?view=cm&fs=1&to=hudsonrp11@gmail.com"
      target="_blank"
    >
      <img
        src="/assets/icons8-gmail-50.png"
        class="logos"
        style="width: 60px; height: 60px"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/hudson-pfenning-09471020a/"
      target="_blank"
    >
      <img
        src="/assets/icons8-linkedin-50.png"
        class="logos"
        style="width: 60px; height: 60px"
      />
    </a>
    <a href="https://twitter.com/huddyp__" target="_blank">
      <img
        src="/assets/icons8-twitterx-50.png"
        class="logos"
        style="width: 60px; height: 60px"
      />
    </a>
  </footer>
</div>
