<mat-toolbar color="primary" class="navbar">
  <a href="https://github.com/HuddyP" target="_blank">
    <img
      src="/assets/icons8-github-50.png"
      class="center"
      style="width: 50px; height: 50px"
    />
  </a>
  <a
    href="https://mail.google.com/mail/?view=cm&fs=1&to=hudsonrp11@gmail.com"
    target="_blank"
  >
    <img
      src="/assets/icons8-gmail-50.png"
      class="center"
      style="width: 50px; height: 50px"
    />
  </a>
  <a
    href="https://www.linkedin.com/in/hudson-pfenning-09471020a/"
    target="_blank"
  >
    <img
      src="/assets/icons8-linkedin-50.png"
      class="center"
      style="width: 50px; height: 50px"
    />
  </a>
  <a href="https://twitter.com/huddyp__" target="_blank">
    <img
      src="/assets/icons8-twitterx-50.png"
      class="center"
      style="width: 50px; height: 50px"
    />
  </a>
</mat-toolbar>
